.header {
  background-color: $dark-header;
  padding: 20px 0;

  &-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &-title {
      font-size: 1.4rem;
      color: $dark-font-color;
      font-weight: 700;
    }

    &-theme {
      display: flex;
      padding: 2px;

      img {
        width: 13px;
        margin: 0 5px;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        color: $dark-font-color;
        margin: 0 5px;
      }
    }
  }
}
